html {
  box-sizing: border-box;
  font-family: "Bellefair", serif;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

.page {
  margin: 0;
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page--home {
  background: url(./assets/home/background-home-desktop.jpg) no-repeat
    center/cover;
}

.page--crew {
  background: url(./assets/crew/background-crew-desktop.jpg) no-repeat
    center/cover;
}

.page--technology {
  background: url(./assets/technology/background-technology-desktop.jpg)
    no-repeat center/cover;
  justify-content: start;
}

.page--destination {
  background: url(./assets/destination/background-destination-desktop.jpg)
    no-repeat center/cover;
}

.header {
  display: flex;
  align-items: center;
  padding: 40px 0 0 55px;
}

.header__logo {
  margin-right: 64px;
}

.header__nav {
  position: relative;
}

.nav {
  color: #ffffff;
  display: flex;
  height: 96px;
  align-items: center;
  flex: 1;
}

.nav__line {
  position: absolute;
  z-index: 1;
  width: 520px;
  opacity: 25.15%;
}

.nav__line::before {
  position: absolute;
  content: "";
  border-top: 1px solid #979797;
  transform: translateY(-50%);
  width: 100%;
}

.list {
  list-style: none;
  padding: 0;
}

.nav__list {
  display: flex;
  gap: 48px;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  min-height: 100%;
  background-color: rgba(255, 255, 255, 2%);
  backdrop-filter: blur(8px);
  padding-right: 165px;
  margin-left: 480px;
  text-transform: uppercase;
}

.nav__link,
.tab__link {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  letter-spacing: 2.7px;
  display: flex;
  gap: 6px;
  align-items: center;
  border-bottom: 3px solid transparent;
  text-decoration: none;
  color: #fff;
}

.nav__link {
  height: 96px;
}

.tab__link {
  height: 34px;
}

.nav__link:hover,
.tab__link:hover {
  border-bottom: 3px solid rgb(255, 255, 255, 50.21%);
}

.nav__link--active,
.tab__link--active {
  border-bottom: 3px solid #fff;
}

.nav__link--active:hover,
.tab__link--active:hover {
  border-bottom: 3px solid #fff;
}

.list-item__num {
  font-weight: bold;
}

.main {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 165px 131px 165px;
}

.main__left {
  max-width: 450px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.justify-end {
  justify-content: end;
}

.main__right {
  max-width: 445px;
}

.main__left-heading {
  margin: 0;
  margin-bottom: 24px;
}

.main__left-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 534px;
  height: 534px;
  flex-shrink: 0;
}

.heading-5 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 4.75px;
  text-transform: uppercase;
  color: #d0d6f9;
}

.heading-5--sm {
  color: #d0d6f9;
  font-family: Barlow Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}

.heading-5__num {
  color: #fff;
  font-family: Barlow Condensed;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4.725px;
  opacity: 0.25;
}

.heading-5--white {
  color: #fff;
}

.heading-4 {
  color: #fff;
  font-family: Bellefair;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  opacity: 0.5042;
  margin: 0;
}

.mb-154 {
  margin-bottom: 154px;
}

.mb-15 {
  margin-bottom: 15px;
}

.heading-3 {
  color: #fff;
  font-family: Bellefair;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
}

.heading-1 {
  font-family: "Bellefair", serif;
  font-size: 150px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

.heading-2 {
  font-family: "Bellefair", serif;
  font-size: 100px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 37px 0;
  color: #ffffff;
}

.text {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  color: #d0d6f9;
  line-height: 32px;
}

.button {
  box-sizing: content-box;
  font-family: "Bellefair", serif;
  font-size: 32px;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 274px;
  height: 274px;
  border-radius: 50%;
  border: none;
  color: #0b0d17;
  cursor: pointer;
  position: relative;
}

.button::after {
  content: "";
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  transition: all 300ms ease-in-out;
  background-color: rgb(150, 150, 150);
  backdrop-filter: blur(4px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 0;
  height: 0;
  opacity: 20%;
}

.button:hover::after {
  width: 450px;
  height: 450px;
}

.tabs {
  display: flex;
  gap: 35px;
}

.card__body {
  margin-bottom: 54px;
}

.card__footer {
  padding-top: 24px;
  border-top: 1px solid #383b4b;
  display: flex;
  gap: 79px;
}

.subheading-1 {
  font-family: "Bellefair", serif;
  font-size: 28px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
}

.subheading-2 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 14px;
  letter-spacing: 2.35;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  color: #d0d6f9;
}

.card__footer-subheading-2 {
  margin: 12px 0;
}

.main--crew {
  padding-bottom: 0;
}

.main__left--crew {
  height: fit-content;
  align-self: top;
}

.carousel {
  display: flex;
  justify-content: space-between;
}

.main-left__carousel {
  margin-bottom: 94px;
  width: 132px;
}

.carousel__dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  opacity: 0.5;
  background-color: #fff;
}

.carousel__dot--active {
  opacity: 1;
}

.main-left__text {
  margin-bottom: 120px;
}

.w--max-content {
  width: max-content;
}

.main-left__row {
  display: flex;
  gap: 80px;
}

.slider {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.slider__btn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #554b4b;
  color: #fff;
  text-align: center;
  font-family: Bellefair;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.slider__btn--active {
  color: #0b0d17;
  background-color: #fff;
  opacity: 1;
}

.slider__btn:hover {
  border: 1px solid #fff;
}

.main--technology {
  margin-top: 76px;
  padding-bottom: 0;
}

.mb-137 {
  margin-bottom: 137px;
}

.main--technology {
  align-items: flex-start;
  padding-right: 0;
}

.main__right--technology {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
